@import url('../layout/layout.css');

.banner {
    position: relative;
    height: 758px;
    background-image: url('./../images/78fbd7bdca02b8cf6ba36207f97cc641.jpeg');
    background-size: cover;
}

.slogan-circle-stroke {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 656px;
    height: 271px;
    bottom: 45px;
    right: 75px;
}

.banner .circle {
    position: absolute;
    width: 271px;
    height: 271px;
    border-radius: 50%;
    background-color: var(--primary-01);
}
.slogan {
    /* position: absolute; */
    width: 614px;
    margin-right: 42px;
    text-align: right;
    z-index: 1;
    background-color: transparent;
}

.slick-slider {
    height: 74px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.auto-scrollbar {
    position: absolute;
    height: 74px;
    background-color: var(--primary-01);
    display: flex;
    justify-content:flex-end;
    padding: 0px 0px 0px 30px;
    gap: 20px;
    align-items: center;
}

.sm-oval {
    width: 100px;
    height: 30px;
    border-radius: 28px;
    background: var(--gradient-02);
}

.about, .offer {
    display: grid;
    grid-column: 1fr;
    grid-template-columns: 45% auto 45%;
    column-gap: 50px;
}

.about .title {
    width: inherit;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.about .title .title-text {
    width: fit-content;
}


.md-oval {
    width: 190px;
    height: 32px;
    border-radius: 28px;
    background: var(--gradient-01);
}

.divider {
    width: 4px;
    height: 100%;
    align-self: stretch;
    stroke-width: 4px;
    border-radius: 2px;
    background-color: var(--primary-01);
    stroke: var(--primary-01);
    margin: auto;
}

.about-content, .offer-content {
    width: fit-content;
    text-align: justify;
}


.offer .title {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.offer-text {
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.offer-text .services, .popular-sectors {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.offer-text ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.offer-text ul li {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.offer-text ul li::before{
    content: url('./assets/Ellipse\ 54.svg');
    width: 1rem;
    height: 1rem;
}

.offer-text ul li span {
    margin-left: 20px;
}

.logo.slick-slider {
    height: 179px !important;
}

.logo .auto-scrollbar {
    height: 179px !important;
    background-color: var(--neutral-03);
    gap: 50px;
}

.project.container {
    height: fit-content;
}

.project .title {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.project .title h2 {
    text-align: center;
}

.project .title .content {
    position: absolute;
    z-index: 1;
}

.project .title .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--primary-01);
}

.gallery {
    padding: 0%;
}


.project .items {
    height: fit-content;
    column-count: 3;
    column-gap: 10px;
}

.figure-xtra-sm {
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    height: 240px;
}

.figure-sm {
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    height: 260px;
}

.figure-md {
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    height: 300px;
}

.figure-lg {
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    height: 350px;
}

.figure-xtra-lg {
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    height: 440px;
}

.items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}

figure > img {
    grid-row: 1 / -1;
    grid-column: 1;
}

.footer-details {
    
}

.CTA {
    background-color: var(--primary-01);
    justify-content: center;
    padding: 40px 0px !important;
}

.CTA-details div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.CTA-details h1 {
    display: inline-block;
    text-align: center;
}

.contacts .container {
    height: fit-content;
    column-count: 4;
    column-gap: 80px;
}


