@import url('../layout/layout.css');

.banner {
    position: relative;
    height: 657px;
    background-image: url('./../images/78fbd7bdca02b8cf6ba36207f97cc641.jpeg');
    background-size: cover;
}

.slogan-circle-stroke {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 656px;
    height: 271px;
    bottom: 45px;
    right: 75px;
}

.banner .circle {
    position: absolute;
    width: 271px;
    height: 271px;
    border-radius: 50%;
    background-color: var(--primary-01);
}
.slogan {
    /* position: absolute; */
    width: 614px;
    margin-right: 42px;
    text-align: right;
    z-index: 1;
    background-color: transparent;
}

/* text slick slider */

@keyframes slide {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
}

.slick-slider {
    height: 74px;
    width: 100%;
    background-color: var(--primary-01);
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.texts-slide {
    height: 74px;
    display: inline-block;
}
.texts-slide .content {
    height: 74px;
    background-color: var(--primary-01);
    display: flex;
    justify-content:flex-end;
    padding: 0px 0px 0px 30px;
    gap: 20px;
    align-items: center;
    animation: 35s slide infinite linear;
}

.sm-oval {
    width: 100px;
    height: 30px;
    border-radius: 28px;
    background: var(--gradient-02);
}

/* end text slick slider */

/* about, offer container */
.about, .offer {
    display: grid;
    grid-column: 1fr;
    grid-template-columns: 45% auto 45%;
    column-gap: 50px;
}

.about .title {
    width: inherit;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.about .title .title-text {
    width: fit-content;
}


.md-oval {
    width: 190px;
    height: 32px;
    border-radius: 28px;
    background: var(--gradient-01);
}

.divider {
    width: 4px;
    height: 100%;
    align-self: stretch;
    stroke-width: 4px;
    border-radius: 2px;
    background-color: var(--primary-01);
    stroke: var(--primary-01);
    margin: auto;
}

.about-content, .offer-content {
    width: fit-content;
    text-align: justify;
}


.offer .title {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.offer-text {
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.offer-text .services, .popular-sectors {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.offer-text ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.offer-text ul li {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.offer-text ul li::before{
    content: url('./assets/Ellipse\ 54.svg');
    width: 1rem;
    height: 1rem;
}

.offer-text ul li span {
    margin-left: 20px;
}

/* about, offer container */

/* logos slick slider */

.logos{
    height: 150px !important;
    background-color: var(--neutral-04);
}

.logos .logos-slide {
    height: 150px !important;
    background-color: var(--neutral-04);
    display: inline-block;
}

.logos .logos-slide .content {
    height: 150px !important;
    background-color: var(--neutral-04);
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0px 0px 0px 30px;
    animation: 10s slide infinite linear;
}

/* end logos slick slider */

.project.container {
    height: fit-content;
    background-color: var(--neutral-04);
}

.project .title {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.project .title h2 {
    text-align: center;
}

.project .title .content {
    position: absolute;
    z-index: 1;
}

.project .title .content h2 {
    color: var(--neutral-01);
}

.project .title .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--primary-01);
}

.gallery {
    padding: 80px 0px 0px;
    background-color: var(--neutral-04);
}


.project .items {
    height: fit-content;
    column-count: 3;
    column-gap: 10px;
}

.figure-xtra-sm {
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    height: 240px;
    position: relative;
}

.figure-sm {
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    height: 260px;
    position: relative;
}

.figure-md {
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    height: 300px;
    position: relative;
}

.figure-lg {
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    height: 350px;
    position: relative;
}

.figure-xtra-lg {
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    height: 440px;
    position: relative;
}

.items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}

figure > img {
    grid-row: 1 / -1;
    grid-column: 1;
}

.gallery .overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 6px;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    background-color: var(--neutral-01);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

.gallery .items figure:hover .overlay {
    opacity: 1;
}

/* .overlay .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } */

.footer-details {
    
}

.CTA {
    background-color: var(--primary-01);
    justify-content: center;
    padding: 40px 0px !important;
}

.CTA-details div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.CTA-details h1 {
    display: inline-block;
    text-align: center;
}

.contacts .container {
    height: fit-content;
    column-count: 4;
    column-gap: 80px;
}


