@import url('../layout/layout.css');

nav .logo {
    width: 160px;
    height: 50px;
}

.sub.selected {
    color: var(--neutral-01);
}

.streak-introduction {
    width: 100%;
    height: 32px;
    border-radius: 28px;
    background: var(--Gradient-2, linear-gradient(90deg, #000 0%, #1A00E0 100%));
}

.introduction-title {
    color: var(--primary-01);
}

.introduction-content {
    text-align: justify;
    width: 827px;
}

.container .image {
    width: 100%;
    height: 700px;
    border-radius: 20px;
}

.who {
    display: flex;
    gap: 10px;
}

.streak-who {
    width: 190px;
    height: 32px;
    border-radius: 28px;
    background: var(--Gradient-2, linear-gradient(90deg, #000 0%, #1A00E0 100%));
}

.purpose-title {
    color: var(--primary-01);
}

.purpose-body {
    text-align: justify;
    width: 827px;
}

.why {
    height: fit-content;
    border-top: 1px var(--neutral-04);
    border-top-style: solid;
}


.why-title {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.why-title .content {
    position: absolute;
    z-index: 1;
}

.why-title .content h2 {
    text-align: center;
}

.why-streak {
    width: 730px;
    height: 40px;
    border-radius: 28px;
    position: absolute;
    background: linear-gradient(90deg, #000 0%, #1A00E0 100%);
    
}

.achievement {
    display: flex;
    gap: 300px;
    justify-content: center;
    align-items:flex-end;
}

.year {
    display: flex;
    gap: 20px;
    align-items: center;
}

.years {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.year-number {
    position: absolute;
    width: max-content;
}

.year-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--primary-01);
    display: flex;
    justify-content: center;
    align-items: center;
}

.year-content {
    color: var(--neutral-03);
}

.project {
    display: flex;
    gap: 20px;
    align-items: center;
}

.projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.projects-number {
    position: absolute;
    width: max-content;
}

.projects-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--primary-01);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-content {
    color: var(--neutral-03);
}

.product {
    display: flex;
    gap: 20px;
    align-items: center;
}

.products {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.products-number {
    position: absolute;
    width: max-content;
}

.products-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--primary-01);
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-content {
    color: var(--neutral-03);
}

/* text slick slider */
@keyframes slide {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
}

.slick-slider {
    height: 74px;
    width: 100%;
    background-color: var(--primary-01);
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.texts-slide {
    height: 74px;
    display: inline-block;
    background-color: var(--primary-01);
}
.texts-slide .content {
    height: 74px;
    background-color: var(--primary-01);
    display: flex;
    justify-content:flex-end;
    padding: 0px 0px 0px 30px;
    gap: 20px;
    align-items: center;
    animation: 35s slide infinite linear;
}

.sm-oval {
    width: 100px;
    height: 30px;
    border-radius: 28px;
    background: var(--gradient-02);
}
/* end text slick slider */

.vision-mission {
    background-color: var(--neutral-04);
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
}

.vision {
    width: 500px;
    gap: 20px;
}

.vision-title {
    color: var(--primary-01);
}

.vision-content {
    text-align: justify;
    color: var(--neutral-01)
}

.mission {
    width: 500px;    
    gap: 20px;
}

.mission-title {
    color: var(--primary-01);
}

.mission-content {
    text-align: justify;
    color: var(--neutral-01)
}

.team {
    background-color: var(--neutral-04);
    flex-direction: column;
    gap: 80px;
    padding-top: 0px;
}


.team .title h2 {
    text-align: center;
    color: var(--primary-01);
}
.members {
    display: flex;
    height: 600px;
    gap: 30px;
    background-color: transparent;
}

.members-slide {
    display: inline-block;
}

.members-slide .content {
    display: flex;
    justify-content:flex-end;
    gap: 30px;
    align-items: center;
    animation: 25s slide infinite linear;
}

.members-card {
    width: 400px;
    height: 600px;
    border-radius: 20px;
}

.card-image {
    position: relative;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.card-image::after{
    position: absolute;
    content:"";
    height:100%;
    width:100%;
    border-radius: 20px;
    top:0;
    left:0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.00) 71.67%, #1A00E0 100%), url(<path-to-image>) transparent 50% / cover no-repeat;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter:saturate(0);
    border-radius: 20px;
}


.card-content {
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    left: 34px;
    bottom: 20px;
    background-color: transparent;
    z-index: 1;
}

.card-content .members-name {
    width: 80%;
}

.CTA {
    background-color: var(--primary-01);
    justify-content: center;
    padding: 40px 0px !important;
}

.CTA-details div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.CTA-details h1 {
    display: inline-block;
    text-align: center;
}

.contacts .container {
    height: fit-content;
    column-count: 4;
    column-gap: 80px;
}