/* global css */
@font-face {
    font-family: 'Benzin Regular';
    src: url(../font/Benzin-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Benzin Medium';
    src: url(../font/Benzin-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Benzin Semi-bold';
    src: url(../font/Benzin-Medium.woff) format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Benzin Bold';
    src: url(../font/Benzin-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Benzin Extra-bold';
    src: url(../font/Benzin-Extra-Bold.woff) format('woff');
    font-weight: 800;
    font-style: normal;
}

body, html *{
    padding: 0;
    margin: 0;
    font-family: 'Benzin Regular', sans-serif;
    color: var(--black-100);
    background-color: var(--black-00);
}

:root{
    /* black */
    --black-00: #080808;
    --black-05: #313335;
    --black-10: #45474A;
    --black-20: #585C5F;
    --black-30: #6C7075;
    --black-40: #808489;
    --black-50: #95999D;
    --black-60: #AAADB1;
    --black-70: #BFC2C4;
    --black-80: #D5D6D8;
    --black-90: #EAEBEB;
    --black-100: #FFFFFF;

    /* blue */
    --blue-05: #E4E0FF;
    --blue-10: #B7ADFF;
    --blue-20: #9385FF;
    --blue-30: #6F5CFF;
    --blue-40: #4B33FF;
    --blue-50: #270AFF;
    --blue-60: #1A00E0;
    --blue-70: #1500B8;
    --blue-80: #11008F;
    --blue-90: #0C0066;
    
    /* background */
    --bg-40: #CACCCE;
    --bg-50: #D5D6D8;
    --bg-60: #DFE0E2;
    --bg-70: #EAEBEB;
    --bg-80: #F4F5F5;
    --bg-90: #FFFFFF;

    /* red/error */
    --red-05: #FBE9E4;
    --red-10: #F5C4B7;
    --red-20: #F0A693;
    --red-30: #EB886F;
    --red-40: #E76A4B;
    --red-50: #E24D28;
    --red-60: #C53D1B;
    --red-70: #A23216;
    --red-80: #7E2711;
    --red-90: #5A1C0C;
}

/* font */

.medium {
    font-family: 'Benzin Medium', sans-serif;
}

.semi-bold {
    font-family: 'Benzin Semi-bold', sans-serif;
}

.bold {
    font-family: 'Benzin Bold', sans-serif;
}

.extra-bold {
    font-family: 'Benzin Extra-bold', sans-serif;
}

.underline {
    text-decoration: underline;
}

.macro {
    font-family: 'Benzin Regular', sans-serif;
    font-size: 6px;
    line-height: 150%;
}

.label-s {
    font-family: 'Benzin Regular', sans-serif;
    font-size: 10px;
    letter-spacing: 4%;
    line-height: 150%;
}

.small-extra {
    font-family: 'Benzin Regular', sans-serif;
    font-size: 8px;
    line-height: 150%;
}

.small {
    font-family: 'Benzin Regular', sans-serif;
    font-size: 10px;
    line-height: 150%;
}

.label-m {
    font-family: 'Benzin Regular', sans-serif;
    font-size: 14px;
    letter-spacing: 4%;
    line-height: 150%;
}

.body-m {
    font-family: 'Benzin Regular', sans-serif;
    font-size: 12px;
    line-height: 200%;
}

.body-l {
    font-family: 'Benzin Regular', sans-serif;
    font-size: 16px;
    line-height: 200%;
}

.body-xl {
    font-family: 'Benzin Regular', sans-serif;
    font-size: 20px;
    line-height: 200%;
}

.sub-text {
    font-family: 'Benzin Regular', sans-serif;
    font-size: 24px;
    line-height: 180%;
}

/* end-font */

/* H1 Text */
h1 {
    font-family: 'Benzin Regular', sans-serif;
    font-size: 81px;
    background-color: transparent;
    line-height: 120%;
}



h2 {
    font-family: 'Benzin Bold', sans-serif;
    font-size: 54px;
    background-color: transparent;
    line-height: 130%;
}

h3 {
    font-family: 'Benzin Semi-bold', sans-serif;
    font-size: 44px;
    background-color: transparent;
    line-height: 120%;
}

/* H4 Text */
h4 {
    font-family: 'Benzin Regular', sans-serif;
    font-size: 32px;
    background-color: transparent;
    line-height: 190%;
}

h5 {
    font-family: 'Benzin Regular', sans-serif;
    font-size: 28px;
    background-color: transparent;
    line-height: 190%;
}

header {
    height: 84px;
}

nav {
    height: 84px;
    /* border-style: dashed; */
    display: flex;
    justify-content:center;
}

nav .nav-bar-logo {
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 64px;
}

nav .nav-bar-route {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav-bar-route div {
    width: 85%;
}

nav .nav-bar-route ul {
    display: flex;
    justify-content:space-between;
    
}

nav .nav-bar-route ul li {
    list-style-type: none;
}

nav .nav-bar-route a {
    color: var(--black-100);
    text-decoration: none;
    font-size: 16px;
    font-family: 'Benzin Semi-bold', sans-serif;
}