/* global css */
@font-face {
    font-family: 'Benzin Regular';
    src: url(../font/Benzin-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Benzin Medium';
    src: url(../font/Benzin-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Benzin Semi-bold';
    src: url(../font/Benzin-Semibold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Benzin Bold';
    src: url(../font/Benzin-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}

body, html *{
    padding: 0;
    margin: 0;
    font-family: 'Benzin Regular', sans-serif;
    color: var(--neutral-04);
}

:root{
    /* neutral */
    --neutral-01: #000000;
    --neutral-02: #58595B;
    --neutral-03: #F2F2F2;
    --neutral-04: #FFFFFF;

    /* primary */
    --primary-01: #1F4AF3;
    --primary-02: #C4CFFC;

    /* linear grandient */
    --gradient-01: linear-gradient(90deg, #000 0%, #1A00E0 100%);
    --gradient-02: linear-gradient(90deg, rgba(8, 8, 8, 0.00) 0%, #1A00E0 100%);
}

/* font */

.medium {
    font-family: 'Benzin Medium', sans-serif !important;
}

.semi-bold {
    font-family: 'Benzin Semi-bold', sans-serif !important;
}

.bold {
    font-family: 'Benzin Bold', sans-serif !important;
}

/* end-font */

h1 {
    font-family: 'Benzin Regular', sans-serif;
    font-size: 81px;
    background-color: transparent;
    line-height: 120%;
}



h2 {
    font-family: 'Benzin Bold', sans-serif;
    font-size: 52px;
    background-color: transparent;
    line-height: 130%;
}

h3 {
    font-family: 'Benzin Semi-bold', sans-serif;
    font-size: 36px;
    background-color: transparent;
    line-height: 140%;
}

.body {
    font-family: 'Benzin Regular', sans-serif !important;
    font-size: 16px !important;
    line-height: 150% !important;
}
.body.medium {
    font-family: 'Benzin Medium', sans-serif !important;
    font-size: 16px !important;
    line-height: 150% !important;
}
.body.semi-bold {
    font-family: 'Benzin Semi-bold', sans-serif !important;
    font-size: 16px !important;
    line-height: 150% !important;
}
.body.bold {
    font-family: 'Benzin Bold', sans-serif !important;
    font-size: 16px !important;
    line-height: 150% !important;
}

.sub {
    font-family: 'Benzin Regular', sans-serif !important;
    font-size: 24px !important;
    line-height: 140% !important;
    letter-spacing: -1px !important;
}

.sub.medium {
    font-family: 'Benzin Medium', sans-serif !important;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -1px !important;
}

.sub.semi-bold {
    font-family: 'Benzin Semi-bold', sans-serif !important;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.1px !important;
}

.sub.bold {
    font-family: 'Benzin Bold', sans-serif !important;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.1px !important;
}


/* end */

.container {
    display: flex;
    padding: 80px 40px;
    gap: 20px;
    background-color: var(--neutral-01);
}

.page-content {
    display: flex;
    padding: 20px 30px;
    gap: 20px;
    background-color: #000000;
}

.layout-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.primary {
    flex: 6;
  }
  
.extend {
    flex: 2;
}
  
.secondary {
    flex: 3;
}
  
.new-secondary {
    flex: 4;
}

header {
    width: 100%;
}

nav {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-01);
}

nav .nav-bar-logo {
    display: flex;
    align-items: center;
}

nav .nav-bar-route {
    display: flex;
    justify-content: center;
    align-items: center;
}


nav .nav-bar-route ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

nav .nav-bar-route ul li {
    display: inline-block;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

nav .nav-bar-route a {
    color: var(--neutral-04);
    text-decoration: none;
}

nav .logo {
    width: 192px;
    height: 72px;
}

.center {
    margin: auto;
}

.left {
    padding: 125px 0px 0px 76px;
}

